{% extends 'Main.html' %}
{% load crispy_forms_tags %}
{% block dashboard %}
    active
{% endblock %}
{% block body %}
    <div class="row match-height">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">
                        <div class="row">
                            <div class="col-lg-9 col-sm-12 pb-3">
                                Edit Profile
                            </div>
                            <div class="col-lg-3 col-sm-12 float-right">
                                <a href="{% url 'main' %}" class="btn btn-block btn-primary">View Site</a>
                            </div>
                        </div>
                    </h4>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        <form class="form form-vertical" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-body">
                                <div class="row">
                                    {{ form | crispy }}
                                    <div class="col-12 d-flex justify-content-end pt-3">
                                        <a href="{% url 'reset-profile' %}"
                                           onclick="return confirm('Are you sure you want to reset profile?')"
                                           class="btn btn-block btn-light-secondary me-1 mb-1">Reset</a>
                                        <button type="submit" class="btn btn-block btn-primary me-1 mb-1"
                                                name="sub-button">
                                            Submit
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

